<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="{{ site.title }}" />
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}行知番茄{% endif %}" />
  <meta name="keywords" content="{% if page.keywords %},{{ page.keywords }}{% endif %}" />
  <link rel="icon" type="image/png" href="/images/icon.png" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link href="//cdn.bootcss.com/highlight.js/7.3/styles/github.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ site.url }}/css/normalize.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/main.css" />

  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <!--[if lt IE 9]>
  <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
  <![endif]-->
<script>
  $(function(){
    $('a').each(function(){
      var url = $(this).attr('href');
      if(!url) {
        return;
      }
      if(('' == '{{ site.url }}' || -1 == url.indexOf('{{ site.url }}'))
        && '#' != url.charAt(0)
        && '/' != url.charAt(0)
        && -1 == url.indexOf('javascript:void()')) {
        $(this).attr('target', '_blank');
      }
    });
  });
</script>
</head>
