---
layout: default
---

<div class="Content" role="main">
  <article class="Article">
    <div class="container">
      <header class="Article-header text-center">
        <h1 class="Article-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <div class="Article-data">
          <p class="txt-small txt-mutee">{{ page.date | date:"%Y-%m-%d" }}</p>
        </div>
      </header>
    </div>
    <div class="container">
      <div class="Article-body">
        {{ content }}
      </div>
      <div class="Article-interactions">
        <div class="pull-right">
        </div>
        <div class="share-opt">
          <a href="javascript:void();" onclick="displayDisqus();">点击查看评论</a>
        </div>
      </div>
      <div id="disqus_thread"></div>
    </div>
  </article>
</div>

<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  function displayDisqus() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://xing-zhi-fan-qie.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  }
</script>
<noscript>请启用JavaScript，才能查看或进行评论</noscript>
<script src="/js/blogstyle.js" ></script>
